---
---

@import "{{ site.theme }}";

header {
    height: 76px;
}

#banner {
    display: flex;
    margin-right: -100px;
}

#photo {
    height: 150px;
    bottom: 110px;
    position: relative;
}