---
---

@import "{{ site.theme }}";

header {
    height: 76px;
    display: flex;

    .filler {
        display: flex;
        flex-grow: 1;
    }
}

#banner {
    display: flex;
    margin-right: -145px;
}

#photo {
    height: 150px;
    position: relative;
    margin-left: 91px;
}