---
---

@import "{{ site.theme }}";

header {
    height: 76px;
    display: flex;

    .filler {
        display: flex;
        flex-grow: 1;
    }

    #photo {
        height: 150px;
        position: relative;
        margin-left: 91px;
    }
}

#banner {
    display: flex;
    margin-right: -145px;
    flex-direction: row-reverse;
    align-items: center;

}

